			<hr />
        	<footer>
				<p><a href="http://www.baidu.com/" target="_blank">Sytu</a> &copy; 1995-2016 All rights reserved</p> 
			</footer>
        </div>
      </body>
      <script src="/javascripts/jquery-latest.js"></script>
      <script src="/javascripts/bootstrap.js"></script>
 </html>