/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
*/

/*.row {
	text-align: center;
}*/
/*.navbar-fixed-top{
	background-color: black;
}*/

.form-control {
	margin-left: 15px;
}

.help-block {
  padding-left: 20%;
  /*padding-bottom: 10px;*/
}

.span4 h2 {
	text-align: left;
}

.span4 p {
	text-align: left;
}

footer{
    clear: both;
	background: #f6f6f6;
	padding-bottom: 5px;
	margin-top: 20px;
	padding: 10px 0 2px;
	color: #999;
	text-align: center;
	/*border: dotted;*/
}

div.form-group {
	margin-bottom: 10px;
}

div.form-group button {
	/*float: ;*/
	margin-left: 27%;
	/*margin-top: 10px;*/
}
.row {
	text-align: center;
	/*padding-left: 10px;*/
}
.jumbotron {
	text-align: center;
}

/*div .col-sm-offset-2 {   //zhu ce div
	background: #f6f6f6;
	margin-right: 66%;
	margin-left: 15%;
}*/
input.col-sm-8.col-sm-offset-1 {
	width: 300px;
	margin-right: 0;
	padding-right: 0;
	float: center;
}

button.btn.btn-success {
	/*color: black;*/
	/*float: right;*/
	float:right;
	margin-right:200px;
	margin-left: 0px;
}

/*div .col-sm-4 {
	display: inline;
	float: left;	
}*/

/*div.row {
	float: left;
	background-color: black;
}*/